* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 1rem;
  background-color: #ff9786;
  background: linear-gradient(
    150deg,
    rgba(255, 151, 134, 1) 25%,
    rgba(0, 255, 217, 1) 75%
  );
  background-size: cover;
}

:root {
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

/* Heading styling */
h1 {
  font-size: var(--font-size-xl);
  font-family: "Sora", sans-serif;
  margin: 9rem 0 1rem;
}

@media screen and (max-width: 480px) {
  h1 {
    font-family: "Sora", sans-serif;
    margin: 8rem 0 1rem;
  }
}

.categoryContainer {
  margin-bottom: 10px;
  margin: 1rem 0;
}

.categoryContainer label {
  font-size: 1.2rem;
  font-weight: 500;
}

.categoryContainer select {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border: 2px solid #000;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button {
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  border: 2px solid #000;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem 0 2rem;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.jokeContainer {
  border: 2px solid #000;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
}

.jokeContainer p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0 1rem;
}

.listedJokes {
  list-style: none;
  font-size: 1rem;
  margin: 1rem;
}

/* Shaking the select styling */
.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(-2px);
  }
  50% {
    transform: translatex(0);
  }
  75% {
    transform: translatex(2px);
  }
  100% {
    transform: translatex(0);
  }
}

/* LikedIn & GitHub links styling */
.footer {
  margin: 2rem auto;
  width: 75%;
}

.footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 0;
}

.footer .links a i {
  color: #000;
  font-size: 1.3rem;
}

.footer hr {
  height: 1px;
  background-color: #000;
  border: none;
  outline: none;
}

.footer p {
  margin: 1rem 0;
}

/* Animate.css delay */
:root {
  --animate-delay: 0.5s;
}
